body,
html {
	min-height: 100vh;
	width: 100vw;
	max-width: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: #2ac7d6;
	background: -moz-linear-gradient(-45deg, #2ac7d6 0%, #676dbf 100%);
	background: -webkit-linear-gradient(-45deg, #2ac7d6 0%, #676dbf 100%);
	background: linear-gradient(135deg, #2ac7d6 0%, #676dbf 100%);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2ac7d6', endColorstr='#676dbf', GradientType=1);
}
